@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation {
  animation-name: move-in;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;

  &__second {
    animation-delay: 0.3s;
  }
  &__third {
    animation-delay: 0.6s;
  }

  &__fourth {
    animation-delay: 0.9s;
  }
}
