body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.5;
  color: $black;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  width: 91%;
  line-height: normal;
  @include respond(tablet) {
    font-size: 3rem;
    width: 80%;
  }

  @include respond(desktop) {
    font-size: 3rem;
  }
  @include respond(desktop-big) {
    font-size: 4rem;
    width: 60%;
  }
}

h3 {
  font-size: 2.5rem;
  padding: 0 5%;
  font-weight: 700;
  margin-bottom: 1rem;
}
