.u-small-padding {
  padding: 2rem 0;
}

.margin-zero-auto {
  margin: 0 auto;
}

.main {
  width: 100%;
}

.u-center-text {
  text-align: center !important;
}
@include respond(desktop) {
  .max-width {
    max-width: 1800px;
    margin: 0 auto;
  }
}
@include respond(desktop-big) {
  .max-width {
    max-width: 1900px;
    margin: 0 auto;
  }
}
