.dish {
  &__card {
    background-color: $white;
    border-radius: 1.3rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    cursor: pointer;

    width: 100%;
    // min-height: 6.7rem;
    height: fit-content;

    @include respond(tablet) {
      padding: 2rem;
    }

    @include respond(desktop) {
      max-height: 12rem;
      padding: 1.4rem 1rem;
    }

    @include respond(desktop-big) {
      min-height: 10rem;
      padding: 2rem 1rem;
    }

    //ANIMATION CARDS DISH
    &:hover {
      & .dish__name,
      & .dish__side {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      & .dish__dish {
        width: 85%;
      }

      & .dish__icon {
        transform: translateX(-1.6rem) rotate(360deg);

        @include respond(tab-port) {
          transform: translateX(-4.5rem) rotate(360deg);
        }
        @include respond(tab-land) {
          transform: translateX(-5.5rem) rotate(360deg);
        }
        @include respond(desktop) {
          transform: translateX(-2rem) rotate(360deg);
        }
        @include respond(desktop-big) {
          transform: translateX(-2.5rem) rotate(360deg);
        }
      }

      & .dish__price {
        transform: translateX(-5rem);

        @include respond(tab-port) {
          transform: translateX(-12rem);
          width: 15%;
        }
        @include respond(tab-land) {
          transform: translateX(-15rem);
        }
        @include respond(desktop) {
          transform: translateX(-6rem);
          width: 12%;
        }
        @include respond(desktop-big) {
          transform: translateX(-8rem);
          width: 15%;
        }
      }

      & .dish__side {
        @include respond(tablet) {
          width: 80%;
        }
        @include respond(desktop-all-sizes) {
          width: 80%;
        }
      }

      & .dish__checked {
        width: 18%;
        @include respond(desktop-all-sizes) {
          width: 20%;
        }
      }

      & .dish__name {
        width: 70%;
        @include respond(desktop-all-sizes) {
          width: 80%;
        }
      }
    }
  }

  //
  //
  
  .dish {
    transition: all 0.3s ease-out;
  }
  &__name {
    font-weight: 600;
    font-size: 1.7rem;
    width: 80%;
    line-height: 1.3;
    @include respond(tab-port) {
      font-size: 3.5rem;
    }
    @include respond(tab-land) {
      font-size: 3rem;
    }
    @include respond(desktop) {
      font-size: 1.7rem;
      width: 85%;
    }
    @include respond(desktop-big) {
      font-size: 2.3rem;
      width: 85%;
    }
  }

  &__side {
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(tab-land) {
      font-size: 2.5rem;
    }

    @include respond(desktop) {
      font-size: 1.5rem;
      white-space: initial;
    }
    @include respond(desktop-big) {
      font-size: 2rem;
    }
  }

  &__price {
    // display: none;
    height: 100%;
    width: 15.5%;
    background-color: white;
    position: absolute;
    z-index: 20;
    right: 0rem;
    top: 0rem;
    span {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 6;
      padding: 0 1.3rem;

      @include respond(tab-port) {
        font-size: 3rem;
        line-height: 6.3;
      }
      @include respond(tab-land) {
        font-size: 2.5rem;
        line-height: 6.3;
      }

      @include respond(desktop) {
        font-size: 1.7rem;
        line-height: 5.8;
        padding: 0;
      }

      @include respond(desktop-big) {
        font-size: 2rem;
        line-height: 6.5;
      }
    }
  }
  &__checked {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: 110%;
    width: 15%;
    background-color: $tertiary-color;
  }

  &__icon {
    position: absolute;
    top: 35%;
    right: 0;
    color: $white;

    font-size: 2rem;

    @include respond(tablet) {
      font-size: 3.5rem;
      top: 5rem;
    }
    @include respond(desktop) {
      font-size: 2.5rem;
      top: 2.5rem;
    }

    @include respond(desktop-big) {
      font-size: 3.5rem;
      top: 3rem;
    }
  }
}
