.restaurant-page {
  position: relative;

  &__img {
    height: 27rem;
    width: 100%;
    object-fit: cover;

    @include respond(tablet) {
      height: 40rem;
    }

    @include respond(desktop) {
      height: 40rem;
    }
    @include respond(desktop-big) {
      height: 30rem;
    }
  }

  &__name {
    font-family: "Shrikhand";
    font-size: 2.7rem;
    max-width: 1800px;
    @include respond(tablet) {
      font-size: 4.5rem;
    }

    @include respond(desktop-all-sizes) {
      font-size: 4rem;
      line-height: 2;
    }


  }
  &__name-box {
    background-color: $light-grey;
    position: absolute;
    bottom: -2rem;
    width: 100%;
    padding: 2rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 0;
    border-radius: 4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @include respond(tablet) {
      bottom: -5rem;
    }
    @include respond(desktop-all-sizes) {
      padding: 5rem;
      padding-bottom: 0;
      bottom: -5rem;
    }
  }
}
