$primary-color: #9356dc;
$primary-color-light: lighten($primary-color, $amount: (5));
$primary-color-fonctionnement: lighten($primary-color, $amount: (30));

$secondary-color: #ff79da;
$secondary-color-light: lighten($secondary-color, $amount: (5));

$tertiary-color: #99e2d0;
$tertiary-color-dark: darken($tertiary-color, $amount: (50));

$white: #fff;
$light-grey: #f2f2f2;
$medium-grey: #e9e6e6;
$dark-grey: #999;
$darker-grey: lighten(black, $amount: 15);

$black: #000;

$shadow-2: 0rem 0.5rem 1rem rgba($black, 0.3);
$shadow-1: 0rem 1rem 2rem rgba($black, 0.3);
