.fonctionnement {
  padding-top: 5rem;

  & h3 {
    padding-bottom: 2rem;
  }
  &__step {
    position: relative;
    width: 85%;
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: $light-grey;
    transition: all 0.2s ease-out;
    height: 7.5rem;
    line-height: 2.5;
    cursor: pointer;
    box-shadow: $shadow-1;

    @include respond(tablet) {
      height: 9rem;
      line-height: 2;
      border-radius: 2rem;
    }

    @include respond(desktop) {
      height: 7rem;
      border-radius: 1.3rem;
      line-height: 1.7;
    }

    @include respond(desktop-big) {
      height: 7rem;
      line-height: 1.5;
      border-radius: 2rem;
    }
    &:hover {
      background-color: $primary-color-fonctionnement;

      & .fonctionnement__icon {
        color: $primary-color;
      }
    }
  }
  &__number {
    span {
      color: $white;
      position: absolute;
      top: 3rem;
      left: -2rem;
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1.5rem;
      background-color: $primary-color;
      border-radius: 50%;
      text-align: center;
      line-height: 1.6;

      @include respond(tablet) {
        font-size: 2rem;
        line-height: 1.5;
        height: 3rem;
        width: 3rem;
      }

      @include respond(desktop) {
        top: 2rem;
      }
      @include respond(desktop-big) {
        top: 2.5rem;
      }
    }
  }
  &__icon {
    font-size: 1.8rem;
    color: $dark-grey;
    line-height: 2 !important;
    @include respond(tablet) {
      font-size: 2.3rem;
    }
  }

  &__box {
    padding-left: 2rem;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 600;

    @include respond(tablet) {
      font-size: 2.5rem;
    }

    @include respond(desktop-all-sizes) {
      font-size: 2rem;
    }
  }
}
