.footer {
  width: 100%;
  color: $white;
  background-color: $darker-grey;
  padding: 3rem;
  height: fit-content;

  &__logo {
    filter: invert(1);
    margin-bottom: 1.8rem;
    height: 1.7rem;

    @include respond(tab-port) {
      height: 2.5rem;
    }
    @include respond(tab-land) {
      height: 2rem;
    }
    @include respond(desktop-all-sizes) {
      height: 2.5rem;
    }
  }

  &__icon {
    line-height: 1;
  }
  &__link {
    font-size: 1.5rem;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(desktop-all-sizes) {
      font-size: 2.5rem;
    }
    a:visited,
    a:link,
    a:hover {
      color: white;
    }
  }
}
