.hero {
  text-align: center;
  background-color: $light-grey;
  height: fit-content;
  min-height: 29rem;
  width: 100%;
  overflow: hidden;
  padding: 3rem 0;
  @include respond(tab-port) {
    padding: auto 0;
  }

  h1 {
    display: inline-block;
    font-size: 2.3rem;
    width: 70%;
    line-height: normal;
    font-weight: 700;
    margin: 1rem 0;

    @include respond(tablet) {
      font-size: 4rem;
    }
    @include respond(desktop) {
      font-size: 4rem;
      width: 50%;
    }
    @include respond(desktop-big) {
      font-size: 5rem;
    }
  }
}
